*,
:before,
:after {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body{
  height: 100%;
  min-width: 700px;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 50px;
  background-color: dodgerblue;
  color: white;

  &__title{
    text-align: center;
    padding-top: 10px;
  }
}

.content{
  padding: 10px;
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  justify-content: space-evenly;
}

.table{
  display: flex;
  flex-direction: column;
  align-self: center;

  &__body{
    table{
      width: 50vw;
      height: 70vh;
      border-collapse: collapse;

      thead{
        background-color: rgba(30, 144, 255, 1);
        color: white;
        tr{
          th:last-child::after {
            content: "";
            display: inline-block;
            vertical-align: top;
            min-height: 30px;
          }

          th {
            min-width: 100px;
          }

          th:last-child {
            min-width: 30px;
          }

          i {
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }

      tbody{
        tr:hover{
          background-color: rgba(30, 144, 255, 0.1);
        }

        .fa-pencil-alt{
          color: #1e90ff;
        }

        .fa-pencil-alt:hover{
          cursor: pointer;;
        }
      }

      td, th{
        border: 1px solid darkgrey;
        padding: 0px 10px;
        font-size: 14px;
        cursor: default;

      }
      td > div {
        padding-top: 2px;
        overflow: hidden;
        max-height: 30px;
        width: 100%;
        position: relative;
      }

      td div:nth-child(2) {
        text-align: center;
        height: 15px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__slider{
    padding-top: 10px;
    table{
      cursor: pointer;
      border-collapse: collapse;

      th:hover{
        background-color: lightgray;
      }

      th{
        border: 1px solid lightgray;
        padding: 5px 10px;
        color: rgba(black, 0.6);

        &.selected_page{
          background-color: dodgerblue;
          color: white;
        }

        &.selected_page:hover{
          cursor: pointer;
        }
      }

      th:nth-child(5){
        cursor: default;
      }
    }
  }
}

.edit{
  border: 1px solid darkgray;
  height: 35%;
  width: 25vw;
  align-self: center;
  border-radius: 5%;
  min-height: 260px;
  min-width: 200px;
  overflow: hidden;
  visibility: hidden;


  &__title{
    color: white;
    text-align: center;
    padding: 15px 10px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    i {
      cursor: pointer;
    }
  }

  &__form{
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input, textarea {
      margin-bottom: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }

    textarea{
      height: 50px;
      resize: none;
    }

    #submit{
      width: 100px;
      height: 35px;
      align-self: center;
      cursor: pointer;
      background-color: dodgerblue;
      color: white;
      border-radius: 10px;
    }
  }
}

